/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: 'Lato', sans-serif;
  background: #EDEFF0
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.main_header {
  width: 100%;
  margin: 0 auto;
  background: white;
  #logo {
    float: left;
    a {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -1px;
      font-size: 1.2rem;
      text-decoration: none;
      color: #397CAC;
    }
  }
  #buttons {
    float: right;
    a {
      line-height: 60px;
      background: #397CAC;
      padding: .5em 1em;
      border-radius: 0.2em;
      color: white;
      text-decoration: none;
      font-weight: 100;
    }
  }
}

.wrapper {
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
}

#posts {
  background: white;
  padding: 2em 5%;
  border-radius: 0.5em;
  .post {
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 1px solid #D1d1d1;

    .title {
      margin: 0;
      a {
        color: #397CAC;
        text-decoration: none;
        font-weight: 100;
        font-size: 1.25rem;
      }
    }
    .date {
      margin-top: 0.25rem;
      font-size: 0.9rem;
      color: #B2BAC2
    }
  }
}

.button {
  color: #397CAC;
  border: 1px solid #397CAC;
  padding: .5em 1em;
  border-radius: 0.2em;
  text-decoration: none;
  margin-right: 2%;
}

#post_content {
  background: white;
  padding: 2em 5%;
  border-radius: 0.5em;
  h1 {
    font-weight: 100;
    font-size: 2em;
    color: #397CAC;
    margin-top: 0;
  }
  p {
    color: #B2BAC2;
    font-size: 0.9rem;
    font-weight: 100;
    line-height: 1.5;
  }
  #comments {
    .comment {
      border-bottom: 1px solid #d1d1d1;
      padding-bottom: 1em;
      margin-bottom: 1em;
      .content {
        width: 50%;
        float: left;
      }
      .buttons {
        width: 50%;
        float: left;
        font-size: .8em;
        text-align: right;
        padding-top: 1.5em;
        a {
          color: #397CAC;
          border: 1px solid #397CAC;
          padding: .5em 1em;
          border-radius: 0.2em;
          text-decoration: none;
          margin-right: 2%;
        }
      }
      .comment_content {
        margin: 0;
        padding: 0;
      }
      .comment_author {
        color: #397CAC;
        margin-top: 0.5rem;
        font-size: 0.6em;
        font-weight: 700;
      }
    }
    input[type="submit"] {
      background: #397CAC;
      border: none;
      color: white;
      font-weight: 100;
      padding: .5em 1em;
      border-radius: .2em;
    }
    textarea {
      width: 100%;
      min-height: 200px;
      border: 1px solid #d1d1d1;
      border-radius: .2em;
      margin: 1em 0;
    }
  }
}

/*csslint box-model:false*/
/*
Box-model set to false because we're setting a height on select elements, which
also have border and padding. This is done because some browsers don't render
the padding. We explicitly set the box-model for select elements to border-box,
so we can ignore the csslint warning.
*/

.simple_form input[type="text"],
.simple_form input[type="password"],
.simple_form input[type="email"],
.simple_form input[type="url"],
.simple_form input[type="date"],
.simple_form input[type="month"],
.simple_form input[type="time"],
.simple_form input[type="datetime"],
.simple_form input[type="datetime-local"],
.simple_form input[type="week"],
.simple_form input[type="number"],
.simple_form input[type="search"],
.simple_form input[type="tel"],
.simple_form input[type="color"],
.simple_form select,
.simple_form textarea {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.simple_form input:not([type]) {
    padding: 0.5em 0.6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* Chrome (as of v.32/34 on OS X) needs additional room for color to display. */
/* May be able to remove this tweak as color inputs become more standardized across browsers. */
.simple_form input[type="color"] {
    padding: 0.2em 0.5em;
}


.simple_form input[type="text"]:focus,
.simple_form input[type="password"]:focus,
.simple_form input[type="email"]:focus,
.simple_form input[type="url"]:focus,
.simple_form input[type="date"]:focus,
.simple_form input[type="month"]:focus,
.simple_form input[type="time"]:focus,
.simple_form input[type="datetime"]:focus,
.simple_form input[type="datetime-local"]:focus,
.simple_form input[type="week"]:focus,
.simple_form input[type="number"]:focus,
.simple_form input[type="search"]:focus,
.simple_form input[type="tel"]:focus,
.simple_form input[type="color"]:focus,
.simple_form select:focus,
.simple_form textarea:focus {
    outline: 0;
    border-color: #129FEA;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.simple_form input:not([type]):focus {
    outline: 0;
    border-color: #129FEA;
}

.simple_form input[type="file"]:focus,
.simple_form input[type="radio"]:focus,
.simple_form input[type="checkbox"]:focus {
    outline: thin solid #129FEA;
    outline: 1px auto #129FEA;
}
.simple_form .pure-checkbox,
.simple_form .pure-radio {
    margin: 0.5em 0;
    display: block;
}

.simple_form input[type="text"][disabled],
.simple_form input[type="password"][disabled],
.simple_form input[type="email"][disabled],
.simple_form input[type="url"][disabled],
.simple_form input[type="date"][disabled],
.simple_form input[type="month"][disabled],
.simple_form input[type="time"][disabled],
.simple_form input[type="datetime"][disabled],
.simple_form input[type="datetime-local"][disabled],
.simple_form input[type="week"][disabled],
.simple_form input[type="number"][disabled],
.simple_form input[type="search"][disabled],
.simple_form input[type="tel"][disabled],
.simple_form input[type="color"][disabled],
.simple_form select[disabled],
.simple_form textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.simple_form input:not([type])[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3;
}
.simple_form input[readonly],
.simple_form select[readonly],
.simple_form textarea[readonly] {
    background-color: #eee; /* menu hover bg color */
    color: #777; /* menu text color */
    border-color: #ccc;
}

.simple_form input:focus:invalid,
.simple_form textarea:focus:invalid,
.simple_form select:focus:invalid {
    color: #b94a48;
    border-color: #e9322d;
}
.simple_form input[type="file"]:focus:invalid:focus,
.simple_form input[type="radio"]:focus:invalid:focus,
.simple_form input[type="checkbox"]:focus:invalid:focus {
    outline-color: #e9322d;
}
.simple_form select {
    /* Normalizes the height; padding is not sufficient. */
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: white;
}
.simple_form select[multiple] {
    height: auto;
}
.simple_form label {
    margin: 0.5em 0 0.2em;
}
.simple_form fieldset {
    margin: 0;
    padding: 0.35em 0 0.75em;
    border: 0;
}
.simple_form legend {
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

.simple_form-stacked input[type="text"],
.simple_form-stacked input[type="password"],
.simple_form-stacked input[type="email"],
.simple_form-stacked input[type="url"],
.simple_form-stacked input[type="date"],
.simple_form-stacked input[type="month"],
.simple_form-stacked input[type="time"],
.simple_form-stacked input[type="datetime"],
.simple_form-stacked input[type="datetime-local"],
.simple_form-stacked input[type="week"],
.simple_form-stacked input[type="number"],
.simple_form-stacked input[type="search"],
.simple_form-stacked input[type="tel"],
.simple_form-stacked input[type="color"],
.simple_form-stacked input[type="file"],
.simple_form-stacked select,
.simple_form-stacked label,
.simple_form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.simple_form-stacked input:not([type]) {
    display: block;
    margin: 0.25em 0;
}
.simple_form-aligned input,
.simple_form-aligned textarea,
.simple_form-aligned select,
/* NOTE: pure-help-inline is deprecated. Use .simple_form-message-inline instead. */
.simple_form-aligned .pure-help-inline,
.simple_form-message-inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
}
.simple_form-aligned textarea {
    vertical-align: top;
}

/* Aligned Forms */
.simple_form-aligned .pure-control-group {
    margin-bottom: 0.5em;
}
.simple_form-aligned .pure-control-group label {
    text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 10em;
    margin: 0 1em 0 0;
}
.simple_form-aligned .pure-controls {
    margin: 1.5em 0 0 11em;
}

/* Rounded Inputs */
.simple_form input.pure-input-rounded,
.simple_form .pure-input-rounded {
    border-radius: 2em;
    padding: 0.5em 1em;
}

/* Grouped Inputs */
.simple_form .pure-group fieldset {
    margin-bottom: 10px;
}
.simple_form .pure-group input,
.simple_form .pure-group textarea {
    display: block;
    padding: 10px;
    margin: 0 0 -1px;
    border-radius: 0;
    position: relative;
    top: -1px;
}
.simple_form .pure-group input:focus,
.simple_form .pure-group textarea:focus {
    z-index: 3;
}
.simple_form .pure-group input:first-child,
.simple_form .pure-group textarea:first-child {
    top: 1px;
    border-radius: 4px 4px 0 0;
    margin: 0;
}
.simple_form .pure-group input:first-child:last-child,
.simple_form .pure-group textarea:first-child:last-child {
    top: 1px;
    border-radius: 4px;
    margin: 0;
}
.simple_form .pure-group input:last-child,
.simple_form .pure-group textarea:last-child {
    top: -2px;
    border-radius: 0 0 4px 4px;
    margin: 0;
}
.simple_form .pure-group button {
    margin: 0.35em 0;
}

.simple_form .pure-input-1 {
    width: 100%;
}
.simple_form .pure-input-2-3 {
    width: 66%;
}
.simple_form .pure-input-1-2 {
    width: 50%;
}
.simple_form .pure-input-1-3 {
    width: 33%;
}
.simple_form .pure-input-1-4 {
    width: 25%;
}

/* Inline help for forms */
/* NOTE: pure-help-inline is deprecated. Use .simple_form-message-inline instead. */
.simple_form .pure-help-inline,
.simple_form-message-inline {
    display: inline-block;
    padding-left: 0.3em;
    color: #666;
    vertical-align: middle;
    font-size: 0.875em;
}

/* Block help for forms */
.simple_form-message {
    display: block;
    color: #666;
    font-size: 0.875em;
}
